<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>941190554302-7aonnji4f7srnvd57roe378lr5l82a9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941190554302-7aonnji4f7srnvd57roe378lr5l82a9j</string>
	<key>API_KEY</key>
	<string>AIzaSyANS_gUY0RvbND-PnzrCV8IcVWfWLdkwKc</string>
	<key>GCM_SENDER_ID</key>
	<string>941190554302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.willcohen.MarketAPP</string>
	<key>PROJECT_ID</key>
	<string>market-452dd</string>
	<key>STORAGE_BUCKET</key>
	<string>market-452dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941190554302:ios:58ce21536f0fd691</string>
	<key>DATABASE_URL</key>
	<string>https://market-452dd.firebaseio.com</string>
</dict>
</plist>